
    <span>  <span *ngIf="data.id">Actualizar</span> <span *ngIf="!data.id">Registrar</span> Publicasiones</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="closeDialog()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
<hr>
<form [formGroup]="form" class="normal-form" (submit)="addPublicaciones()" >
   
            <div class="controles-container">


                <input type="hidden" formControlName="id">

                <mat-form-field>
                    <input formControlName="img" matInput placeholder="Imagen">
                    <mat-error>imagen requerida.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="titulo" matInput placeholder="Titulo">
                    <mat-error>titulo requerido.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="cuerpo" matInput placeholder="Cuerpo">
                    <mat-error>cuerpo requerido </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="ofertaMinima" matInput placeholder="Oferta Minima">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="ofertaMaxima" matInput placeholder="Oferta Maxima">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="habilidades" matInput placeholder="Habilidades">
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="autor" matInput placeholder="Autor">
                </mat-form-field>

            </div>
  
    <mat-dialog-actions align="end">
        <div class="button-row">
            <button mat-raised-button color="warn" (click)="closeDialog()">Cancelar</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid"> <span *ngIf="data.id">Actualizar</span> <span *ngIf="!data.id">Registrar</span> </button>
        </div>
    </mat-dialog-actions>
</form>
