<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Trabajos</h4>
                        <p class="card-category">Publicaciones de nuestros trabajos</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                      Titulo
                                    </th>
                                    <th>
                                      Imagen
                                  </th>
                                    <th>
                                      Autor
                                    </th>
                                  </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td class="text-primary">
                                            $36,738
                                           
                                        </td>
                                        <td class="text-primary">
                                         
                                            <button mat-raised-button color="primary">Agregar</button>
                                        </td>
                                        <td class="text-primary">
                                         
                                          <button mat-raised-button color="link">Actualizar</button>
                                      </td>
                                      <td class="text-primary">
                                         
                                          <button mat-raised-button color="warn">Eliminar</button>
                                      </td>
                                        
                                    </tr>
                                    
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
          