.form{
    margin: auto;
    width: 50px;
    max-width: 500px;
    padding: 30px;
    border: 1px solid rgba(0,0, 0,0)
}
.input form-control mb-4 {
    display: block;
    padding: 10px;
    width: 100px;
    margin: 30px  0;
    font-size: 20px;
    

}