<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title ">Servicios</h4>
                      <p class="card-category"> Publicaciones de los servicios</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                    Titulo
                                  </th>
                                  <th>
                                      Cuerpo
                                  </th>
                                  <th>
                                    Imagen
                                </th>
                                  <th>
                                     Oferta Minima
                                  </th>
                                  <th>
                                    Oferta Maxima
                                  </th>
                                  <th>
                                    Habilidades
                                  </th>
                                  <th>
                                    Autor
                                  </th>
                                </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Niger
                                      </td>
                                      <td>
                                          Oud-Turnhout
                                      </td>
                                      <td class="text-primary">
                                          $36,738
                                         
                                      </td>
                                      <td class="text-primary">
                                       
                                          <button mat-raised-button color="primary">Agregar</button>
                                      </td>
                                      <td class="text-primary">
                                       
                                        <button mat-raised-button color="link">Actualizar</button>
                                    </td>
                                    <td class="text-primary">
                                       
                                        <button mat-raised-button color="warn">Eliminar</button>
                                    </td>
                                      
                                  </tr>
                                  
                                 
                              </tbody>
                              <!--mat-form-field>
                                List length:
                                <input matInput [(ngModel)]="length">
                              </mat-form-field>
                              
                              <mat-form-field>
                                Page size:
                                <input matInput [(ngModel)]="pageSize">
                              </mat-form-field>
                              <mat-form-field>
                                Page size options:
                                <input matInput
                                       [ngModel]="pageSizeOptions"
                                       (ngModelChange)="setPageSizeOptions($event)">
                              </mat-form-field>
                              
                              <mat-paginator [length]="length"
                               [pageSize]="pageSize"
                               [pageSizeOptions]="pageSizeOptions"
                               (page)="pageEvent = $event">
                              </mat-paginator>
                              
                              <div *ngIf="pageEvent">
                                <h5>Page Change Event Properties</h5>
                                <div>List length: {{pageEvent.length}}</div>
                                <div>Page size: {{pageEvent.pageSize}}</div>
                                <div>Page index: {{pageEvent.pageIndex}}</div>
                              </div-->
                          </table>
                      </div>
                  </div>
              </div>
          </div>
        
                               