<div class="main-content">
  <div class="container-fluid">
    <div>
        <button mat-raised-button color="primary" (click)="openDialog()"><i class="fa fa-plus" aria-hidden="true"></i> </button>
    </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title ">Servicios</h4>
                      <p class="card-category"> Publicaciones de los servicios</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                    Titulo
                                  </th>
                                  <th>
                                      Cuerpo
                                  </th>
                                  <th>
                                    Imagen
                                </th>
                                  <th>
                                     Oferta Minima
                                  </th>
                                  <th>
                                    Oferta Maxima
                                  </th>
                                  <th>
                                    Habilidades
                                  </th>
                                  <th>
                                    Autor
                                  </th>
                                  <th>
                                    Acciones
                                  </th>
                                </thead>
                              <tbody>
                                  <tr *ngFor="let Publicaciones of Publicacion">
                                      <td>
                                          {{Publicaciones.id}}
                                      </td>
                                      <td>
                                          {{Publicaciones.titulo}}
                                      </td>
                                      <td>
                                         {{ Publicaciones.cuerpo}}
                                      </td>
                                      <td>
                                         {{ Publicaciones.img}}
                                       </td>
                                      <td class="text-primary">
                                          {{ Publicaciones.ofertaMinima}}
                                      </td>
                                      <td class="text-primary">
                                          {{ Publicaciones.ofertaMaxima}}
                                        
                                      </td>
                                      <td >
                                          {{ Publicaciones.habilidades}}
                                     </td>
                                      <td >
                                         {{ Publicaciones.autor}}
                                    </td>
                                    
                                    <td >
                                        <button mat-raised-button color="link" style="margin: 5px;" (click)="openDialog(Publicaciones)"> <i class="fa fa-pencil" aria-hidden="true"></i></button>
                                        <button mat-raised-button color="warn"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </td>
                                      
                                  </tr>
                                  
                                 
                              </tbody>

                          </table>
                      </div>
                  </div>
              </div>
          </div>
        
                               